<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="HostName" value="192.168.0.4" />
	   <add key="QueueName" value="second" />
	   <add key="QueueExclusive" value="false" />
	   <add key="QueueDurable" value="true" />
	   <add key="QueueAutoDelete" value="false" />
   </appSettings>
</configuration>